@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&display=swap');


/*DCD756*/
/*B7D9DA*/
/*222222*/
/*F5F5F5*/
/*104F55*/

body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("img/pexels-cottonbro-4753996.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    /*background-color: #F5F5F5;*/
    color: #222222;
    /*-webkit-text-stroke: 1px #B7D9DA;*/
    /*color: #B7D9DA;*/
    font-family: 'Anton', sans-serif;
    font-size: 2em;
    text-align: center;
}



.btn-generate {
   background-color: #B7D9DA;
    margin: 1em;
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

.btn-start-re {
    background-color: #B7D9DA;
    margin: 1em;
}

